<!-- Footer for every page -->
<!--
Name: Aruna Ravi Kumar
ID: 301243154
Date: 06-04-2022
-->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/javascripts/clientscripts.js></script>
  </body>
</html>
