<!-- About page
 
Name: Aruna Ravi Kumar
ID: 301243154
Date: 06-04-2022
-->

<%- include('partials/header.ejs') %> <!-- partial file header connected-->
      <p class=" pagination justify-content-center" font-weight ="bold">
     
      <h1 class="text-white text-lg-center ">HI!</h1>
     <h1 class="text-white "> I'm Aruna Ravi Kumar </h1>
     <img src="/images/me.jpeg" class="img-circle" width="450"  height="600">
     <h1 class="text-white ">Professionally I'm Software Developer.  </h1>
        <h1 class="text-white ">    Currently enrolled in Software Engineering Technology Advance diploma.  </h1>
     <h1 class="text-white ">And open to work for my Co-op work term.</h1>
     <h1 class="text-white"> You can download my resume here <a href="Assets/pdf/ArunaResume.pdf"><button class="resume-btn" type="submit" name="button"></button>Resume</button> </a>  </h1>
</p>

<%- include('partials/footer.ejs') %> <!-- partial file footer connected-->