<!-- home page
 
Name: Aruna Ravi Kumar
ID: 301243154
Date: 06-04-2022
-->
<%- include('partials/header.ejs') %> <!-- partial file header connected-->
      <p class=" pagination justify-content-center" font-weight ="bold">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h1 class="text-white  text-lg-center font-weight-bold">Welcome!</h1>
     <h1 class="text-white font-weight-bold"> I'm Aruna Ravi Kumar </h1>
     <h1 class="text-white  font-weight-bold">Professionally I'm Software Developer </h1>
     <h1 class="text-white font-weight-bold">I can work on Designing too</h1>
     <h1 class="text-white  font-weight-bold"> If you want to Know more,<a href="/about">About Me </a>  </h1>
</p>
<%- include('partials/footer.ejs') %> <!-- partial file header connected-->

