
<!-- projects page 
 
Name: Aruna Ravi Kumar
ID: 301243154
Date: 06-04-2022
-->

<%- include('partials/header.ejs') %> <!-- partial file header connected-->
      <p class=" pagination justify-content-center" font-weight ="bold">
     <br>
     <br>
     <br>
     <h1 class="text-white font-weight-bold text-lg-center"><u>Projects:</u></h1><br><br>
     <h1 class="text-white ">
      •	Developed a software system design for MedOnTheGo, an e-medical platform which can<br> be used forvirtual doctor appointments and online medicine delivery services<br>
      As a part of Study in previous semester.
       </h1><br>
       <h1 class="text-white ">
      •	In my previous experience I have worked in projects which were developed using <br>Java as a programming language. 
        And even I am having experience in developing<br> Android projects.
         </h1><br>
         <h1 class="text-white ">
     •	Currently I am learning more about technologies like Expressjs, Nodejs, MongoDb,HTMl,<br> and Android OS and along with these technologies, Learning other technologies<br> too as learning never ends.
           </h1><br>
</p>

<%- include('partials/footer.ejs') %> <!-- partial file footer connected-->
