<!-- Services page 
 
Name: Aruna Ravi Kumar
ID: 301243154
Date: 06-04-2022
-->

<%- include('partials/header.ejs') %>  <!-- partial file header connected-->
      <p class=" pagination justify-content-center" font-weight ="bold">
     
     <h1 class="text-white text-lg-center"><u>Services:</u></h1><br><br>
     <h1 class="text-white ">
      • Software developement
       </h1><br>
       <h1 class="text-white ">
      • Web programming
         </h1><br>
         <h1 class="text-white ">
      • Testing
           </h1><br>
         <h1 class="text-white ">
      • UI development
         </h1><br>
         <h1 class="text-white ">
      • Android Mobile Application
               </h1><br>
</p>


<%- include('partials/footer.ejs') %><!-- partial file footer connected-->